# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/store/dist
/store/tmp
/store/out-tsc
/store/bazel-out

# Node
/store/node_modules/*
store/npm-debug.log
store/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
store/.vscode/*
store/!.vscode/settings.json
store/!.vscode/tasks.json
store/!.vscode/launch.json
store/!.vscode/extensions.json
store/.history/*

# Miscellaneous
/store/.angular/cache
store/.sass-cache/
/store/connect.lock
/store/coverage
/store/libpeerconnection.log
store/testem.log
/store/typings

# System files
store/.DS_Store
store/Thumbs.db
store/.browserslistrc
